.peopleListItem-2nzedh{ /*Removes the border between friends in the list*/
    border-top: 0px;
}
.scroller-2ZPeAD{ /*Removes the border from the activity list in the friends list*/
    border-left: 0px;
}
.channel-2QD9_O[href='/store']{ /*Removes the Nitro tab from the home screen*/
    display: none;
}
.stickerButton-3OEgwj{ /*Removes the sticker button*/
    display: none;
}
[aria-label='Inbox'], [aria-label='Help']{ /*Inbox and Help button*/
    display: none;
}
[aria-label='Send a gift']{ /*Send a gift button*/
    display: none;
}
.unread-2lAfLh, .item-2hkk8m:not([style*="height: 40px;"]){ /*Removes the unread notifications next to the servers/channel list*/
    display: none;
}
#app-mount .containerDefault--pIXnN .modeUnread-1qO3K1 .content-1x5b-n{ /*Makes the unread channels more visible*/
    background: linear-gradient(140deg, rgb(99, 95, 95), transparent);
}
.unreadMentionsIndicatorBottom-2mDYbI, .unreadMentionsIndicatorTop-2-tcdU{ /*Removes the unread messages notification from the server list*/
    display: none;
}
#app-mount .newMessagesBar-265mhP{ /*Removes the new messages bar from the chat*/
    display: none;
}
.repliedMessage-VokQwo:before{ /*Makes the line linking the avatar and reply darker*/
    border-color: rgb(104, 101, 101);
}
.scrollableContainer-2NUZem{ /*Makes the message container less transparent*/
    background: rgba(0, 0, 0, .3);
}
.unreadTop-3rAB3r, .unreadBottom-1_LF_w{ /*Removes the unread messages notification in the channel list*/
    display: none;
}
[aria-controls='ADD_FRIEND-tab']{ /*Colors the Add Friend button*/
    background: linear-gradient(140deg, rgba(215, 15, 0, 1), rgba(0, 0, 0, 1));
}
.scroller-3BxosC{ /*Makes the right click menu and status picker darker*/
    background: rgba(0, 0, 0, .6);
}
.animatedContainer-1NSq4T, .content-3YMskv [style="height: 84px;"], .bannerImage-3KhIJ6 { /* Get rid of banners on servers */
    display: none;
}
#private-channels [href="/discovery"]{ /*Removes Stage Discovery tab*/
    display: none;
}
.replying-1x3H0T:before{ /*Makes the bar to the left of a reply the primary gradient*/
    background: linear-gradient(140deg, rgba(215, 15, 0, 1), rgba(0, 0, 0, 1));
}
.colorLink-2vG20E { /* Changes the color of the @ ON for replying */
    color: transparent;
    background: linear-gradient(140deg, rgba(215, 15, 0, 1), rgb(109, 109, 109));
    background-clip: text;
    -webkit-background-clip: text;
    text-shadow: none !important;
}
.reaction-1hd86g.reactionMe-wv5HKu { /* Makes reactions' border the main color */
    border-color: rgba(215, 15, 0, 1);
}
#app-mount .guilds-1SWlCJ [class='expandedFolderBackground-1cujaW']{ /*Makes the expanded folder background more visible*/
    background: rgba(92, 92, 92, 0.85)
}
.actionIcon-PgcMM2{ /*Removes the invite to server button on the channel*/
    display: none;
}
.markup-2BOw-j a{ /*Changes link color*/
    color: transparent;
    background: linear-gradient(140deg, rgba(215, 15, 0, 1), rgb(109, 109, 109));
    background-clip: text;
    -webkit-background-clip: text;
    text-shadow: 0px 0px 2px rgba(128, 128, 128, 0.775);
}
#app-mount .wrapper-3t9DeA foreignObject[mask*=mobile]:after{ /*Removes the mobile icon since I have PlatformIndicators*/
    display: none;
}
/*Channel Selection animation*/
@keyframes channelSelect{
    0% {width: 0;}
    100% {width: 100%;}
}
.wrapper-2jXpOf.modeSelected-346R90>div{
    background: transparent;
}
.wrapper-2jXpOf.modeSelected-346R90>div::before{
    -webkit-animation: channelSelect 1.5s ease-out;
    -webkit-animation-fill-mode: both;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(140deg, rgba(215, 15, 0, 1), rgba(0, 0, 0, 1));
    border-radius: 4px;
}
#app-mount .containerDefault--pIXnN.selected-3LIHYU .content-1x5b-n{
    background: transparent !important;
}
/*Avatar hover animation*/
@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
  }
  100% {
    box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
  }
}
.avatar-1BDn8e.clickable-1bVtEA { 
    filter: drop-shadow(0 0 6px);
    color: white;
}
.avatar-1BDn8e:hover.clickable-1bVtEA:hover {
    filter: drop-shadow(0 0 10px);
    color: white;
    animation: pulse-animation 1.5s infinite;
}
.theme-dark .lookFilled-1Gx00P.colorGrey-2DXtkV{ /*Makes the button in the userpopout darker*/
    background: rgba(0, 0, 0, .3);
}
.theme-dark .categoryFadeBlurple-1j72_A, .theme-dark .categoryFadeBlurple-1j72_A:hover{ /*Changes the native color in the gif picker*/
    background: linear-gradient(140deg, rgba(215, 15, 0, .2), rgba(0, 0, 0, .2)) !important;
}
.theme-dark .focused-1En8bG:after, .theme-dark .result-3w1ZcL:hover:after{ /*Removes the blurple border aroundthe gifs in the picker*/
  box-shadow: unset;
}
