.note-1oo11U, .bodyTitle-1ySSKn[class='bodyTitle-1ySSKn base-1x0h_U size12-3cLvbJ muted-3-7c5L uppercase-3VWUQ9']{ /*Removes the Note stuff from the popout*/
    display: none;
}
.avatarPositionPremium-3We5Ho, .avatarPositionNormal-aZjAsn{ /*Gives avatars in the user popout a background*/
    background: rgba(0, 0, 0, .3);
}
.bannerPremium-2hSAwz .premiumIconWrapper-1A-UH5{ /*Removes the Nitro tag on banners*/
  display: none;
}
.nickname-3M3Jfa::before{ /*Notes the Nickname versus the actual name*/
    content: "Nick: ";
    font-size: 20px;
}
.userInfoSectionHeader-3TYk6R, .note-367eZJ, .userInfoSection-q_35fn:first-child{ /*Removes note stuff from the user modal*/
    display: none;
}
.tabBarContainer-37hZsr, .userInfoSection-q_35fn+.userInfoSection-q_35fn{ /*Removes the borders in the user modal*/
    border-bottom: none;
    border-top: none;
}
#app-mount .lookFilled-1Gx00P.colorGreen-29iAKY{ /*Recolors the Send Friend Request button in the user modal*/
    background: linear-gradient(140deg, rgba(215, 15, 0, 1), rgba(0, 0, 0, 1));
}
