.floating-window-titlebar, .floating-window #bd-editor-controls{ /*Makes the titlebar and option bar of the Editor opaque*/
    background: rgba(0, 0, 0, 1);
}
.monaco-editor-hover .markdown-hover > .hover-contents:not(.code-hover-contents), .monaco-editor-hover .hover-contents{ /*Removes the info that appeared when you hovered stuff in the CSS Editor*/
    display: none;
}
.checkbox-3kaeSU .checkboxInner-3yjcPe .checkboxElement-1qV33p:checked+span { /*Makes the Live Update button in the CSS Editor the primary color*/
    background: rgba(215, 15, 0, 1);
    border-color: transparent;
}
