/**
* @name CleanGlass
* @version Auto Update
* @description Based on ClearVision
* @author untuned. Edited by identity7#8448
*/
@import url(https://clearvision.gitlab.io/v6/main.css);
:root{
    
        /*-----Colors-----*/
--main-color: rgb(61,108,146);
--hover-color: rgba(61,108,146, .6);
--success-color: #1e63b3;
--danger-color: #982929;
--url-color: rgb(191,127,124);
--online-color: #43b581;
--idle-color: #faa61a;
--dnd-color: #982929;
--streaming-color: #593695;
--offline-color: #808080;
--text-normal: rgb(176,190,197);
--text-muted: #72767dff;

        /*-----Fonts-----*/
--main-font: 'Quicksand';
--code-font: 'Lucida Console';

        /*-----Background-----*/
--channels-width: 220px;
--members-width: 240px;
--background-shading: 0%;
--background-overlay: #00000099;
--background-image: url(https://cdn.discordapp.com/attachments/854499134873927740/863881492388249610/PyramidBeam.jpeg);
--background-size: cover;
--background-position: center;
--background-repeat: no-repeat;
--background-attachment: fixed;
--background-brightness: 100%;
--background-constrast: 100%;
--background-saturation: 100%;
--background-invert: 0%;
--background-grayscale: 0%;
--background-sepia: 0%;
--background-blur: 0px;
--home-icon: url(https://cdn.discordapp.com/attachments/854499134873927740/863923971673292830/discord-avatar-1024-TGPJL.png);
--home-position: center;
--home-size: 40px;
--background-overlay: #00000099;
--backdrop-image: url(https://clearvision.gitlab.io/images/sapphire.jpg);
--backdrop-image: center;
--backdrop-size: cover;
--backdrop-repeat: repeat;
--backdrop-attachment: fixed;
--backdrop-brightness: 100%;
--backdrop-constrast: 100%;
--backdrop-saturation: 100%;
--backdrop-invert: 0%;
--backdrop-grayscale: 0%;
--backdrop-sepia: 0%;
--backdrop-blur: 0px;

        /*-----User popout-----*/
--user-popout-image: url(https://cdn.discordapp.com/attachments/854499134873927740/863881492388249610/PyramidBeam.jpeg);
--user-popout-image: center;
--user-popout-size: cover;
--user-popout-repeat: repeat;
--user-popout-attachment: fixed;
--user-popout-brightness: 100%;
--user-popout-constrast: 100%;
--user-popout-saturation: 100%;
--user-popout-invert: 0%;
--user-popout-grayscale: 0%;
--user-popout-sepia: 0%;
--user-popout-blur: 0px;
--user-popout-overlay: #000000a6;

        /*-----User modal-----*/
--user-modal-image: url(https://clearvision.gitlab.io/images/sapphire.jpg);
--user-modal-image: center;
--user-modal-size: cover;
--user-modal-repeat: repeat;
--user-modal-attachment: fixed;
--user-modal-brightness: 100%;
--user-modal-constrast: 100%;
--user-modal-saturation: 100%;
--user-modal-invert: 0%;
--user-modal-grayscale: 0%;
--user-modal-sepia: 0%;
--user-modal-blur: 0px;
--bd-blue: #2780e6;
--bd-blue-hover: #1e63b3;
--bd-blue-active: #1e63b3;
}


.floating-addon-window{
    min-width: 0px !important;
    max-width: 1680px !important;
    min-height: 0px !important;
    max-height: 1050px !important;
}
