/**
    * @name VibrantGlassRework
    * @version 1.0
    * @description Simple customizable glass theme. Skidded by identity7#8448 to change what couldn't normally.
    * @author Kaynooo#8080. Reworked by identity7#8448
**/

/*
 ___   ____.__ ___.                            __      ________ .__                           
\   \ /   /|__|\_ |__ _______ _____     ____ _/  |_   /  _____/ |  |  _____     ______  ______
 \   Y   / |  | | __ \\_  __ \\__  \   /    \\   __\ /   \  ___ |  |  \__  \   /  ___/ /  ___/
  \     /  |  | | \_\ \|  | \/ / __ \_|   |  \|  |   \    \_\  \|  |__ / __ \_ \___ \  \___ \ 
   \___/   |__| |___  /|__|   (____  /|___|  /|__|    \______  /|____/(____  //____  >/____  >
                    \/             \/      \/                \/            \/      \/      \/ 
*/

@import url(https://identity7.github.io/CustomCSS/Themes/VibrantGlassRework.css);



.theme-dark {
    /*
    name of the Discord window (top left)
    default : "Vibrant Glass" */
    --window-name: "Vibrant Glass";
    /*
    color of the Discord window name
    default : rgb(255, 255, 255) */
    --window-name-color: rgb(255, 255, 255);
    /*
    opacity, but lighter
    default : 0.2 */
    --light-opacity: 0.2;
    /*
    opacity used everywhere to make this glass effect 
    default : 0.5 */
    --opacity: 0.5;
    /*
    opacity, but darker
    default : 0.75 */
    --dark-opacity: 0.75;
    /*
    it's just the Discord background URL, it has to be a direct link (ending with .png, .jpg, .gif)
    default : url('https://cdn.discordapp.com/attachments/696040243748536401/850445513542205531/1-IrFMpUu.png') */
    --background-url: url('https://cdn.discordapp.com/attachments/696040243748536401/850445513542205531/1-IrFMpUu.png');
    /*
    background color used for opacity
    default : 0, 0, 0 */
    --background-color: 0, 0, 0;
}

/* BACKGROUND */

.app-2rEoOp>.bg-h5JY_x {
    background: var(--background-url) !important;
    background-size: cover !important;
}
